@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Link para o git hub: https://github.com/JoaoNederInfnet/AT-Csharp-2T-2S.git</h1>
    <p>Eu ia tentar implementar o sistema todo, mas não vai dar tempo, então abordei objetivamente o AT, tentando cumprir os requisitos e implementar um pouco os conceitos mais relacionados a separação de responsabilidades e boas práticas para MVC - EF que eu aprendi durante a realização dos TP's 2 e 3 e o AT do projeto de bloco!

        Exercício 1:  Arquivo /Services/Delegates&Events/MetodosCalculate e visualização do valor com desconto no CreatePacoteTuristico (Cadastrar Novo Pacote Turístico) -> CreateSuccess

        Exercício 2: : Arquivo /Services/Delegates&Events/MetodosLog e Linhas 44, 83 e 87 do /Services/ReservaService

        Exercício 3:  Linha 60 do ReservaService

        Exercício 4:  Linha 91 do ReservaService

        Exercícios 5, 6 e 7:  cumpri os requisitos, mas tudo para a entidade PacoteTuristico, pois achei meio sem sentido criar um "cadastro" de novas Reservas e o PacoteTuristico é uma entidade que se encaixa perfeitamente nos 3 exercícios.

        Exercício 8: Tudo relacionado aos arquivos/pastas ViewNotes

        Exercício 9:  Eu li o exercício com atenção tarde de mais, aí eu já tinha feito graça com o nome do meu DB e resolvi não alterar pois pesquisei se era seguro e li que pode avacalhar tudo se eu não fizer direito.

        Exercício 10: Fiz nos Models das entidades do sistema mesmo.

        Exercício 11:  Fiz de todas as entidades, mas a que eu mais mexi e inclui no Layout para interação foi o PacoteTuristico

        Exercício 12:  1) Fiz de todas as entidades, mas a que eu mais mexi e inclui no Layout para interação foi o PacoteTuristico
        2) O email fake é balalau@email.com e a senha 123456
        </p>
</div>