@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alert alert-success mt-4">Link para o git hub: https://github.com/JoaoNederInfnet/AT-Csharp-2T-2S.git</div>
    <p>
        Eu ia tentar implementar o sistema todo, mas não vai dar tempo, então abordei objetivamente o AT, tentando cumprir os requisitos e implementar um pouco os conceitos mais relacionados a separação de responsabilidades e boas práticas para MVC - EF que eu aprendi durante a realização dos TP's 2 e 3 e o AT do projeto de bloco!
    </p>
    <hr>
    <p>
        <strong>Exercício 1:</strong> Arquivo /Services/Delegates&Events/MetodosCalculate e visualização do valor com desconto no
        CreatePacoteTuristico (Cadastrar Novo Pacote Turístico) -> CreateSuccess
    </p>
    <hr>
    <p>
        <strong>Exercício 2:</strong> Arquivo /Services/Delegates&Events/MetodosLog e Linhas 44, 83 e 87 do /Services/ReservaService
    <hr>
    <p>
        <strong>Exercício 3:</strong>  Linha 60 do ReservaService
    </p>
    <hr>
    <p>
        <strong>Exercício 4:</strong>  Linha 91 do ReservaService
    </p>
    <hr>
    <p>
        <strong>Exercícios 5, 6 e 7:</strong>  cumpri os requisitos, mas tudo para a entidade PacoteTuristico, pois achei meio sem sentido criar um "cadastro" de novas Reservas e o PacoteTuristico é uma entidade que se encaixa perfeitamente nos 3 exercícios.
    </p>
    <hr>
    <p>
        <strong>Exercício 8:</strong> Tudo relacionado aos arquivos/pastas ViewNotes
    </p>
    <hr>
    <p>
        <strong>Exercício 9:</strong>  Eu li o exercício com atenção tarde de mais, aí eu já tinha feito graça com o nome do meu DB e resolvi não alterar pois pesquisei se era seguro e li que pode avacalhar tudo se eu não fizer direito.
    </p>
    <hr>
    <p>
        <strong>Exercício 10:</strong> Fiz nos Models das entidades do sistema mesmo.
    </p>
    <hr>
    <p>
        <strong>Exercício 11:</strong>  Fiz de todas as entidades, mas a que eu mais mexi e inclui no Layout para interação foi o PacoteTuristico
    </p>
    <hr>
    <p>
        <strong>Exercício 12:</strong>  1) Fiz de todas as entidades, mas a que eu mais mexi e inclui no Layout para interação foi o PacoteTuristico
        2) O email fake é balalau@email.com e a senha 123456
        </p>
</div>